<header class="flex justify-between py-3 w-[800px] items-center">
  <div class="flex flex-row gap-x-3 items-center">
    <img
      class="rounded-full size-12"
      src="../../public/OscarPhoto.jpeg"
      alt="oscar's photo comic"
    />
    <p class="text-2xl opacity-75">Oscar Fuentes</p>
  </div>

  <a href=""> Luz/Osc </a>
</header>
