---
import LightDarkIcon from "../components/LighDark.astro";
---

<header
  class="flex flex-row justify-between py-3 w-full lg:w-[840px] items-center mx-auto bg-opacity-80 backdrop-blur-lg"
>
  <div
    id="myDataNav"
    class="flex flex-row gap-x-3 items-center lg:ml-0 ml-4 -translate-y-1 transition-transform ease-linear-out"
  >
    <img
      class="rounded-full size-12"
      src="../../public/OscarPhoto.jpeg"
      alt="oscar's photo comic"
    />
    <p class="text-2xl opacity-75 hidden md:flex">Oscar Fuentes</p>
  </div>
  <LightDarkIcon />
</header>

<script>
  import { isVisible } from "../store";

  const myDataNav = document.getElementById("myDataNav")!;

  isVisible.subscribe((visible) => {
    visible
      ? myDataNav.classList.add("scale-0")
      : myDataNav.classList.remove("scale-0");
  });
</script>
